<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Google</title>
        <link rel="icon" type="image/x-icon" href="../images/title_icon.png">
    
        <link rel="stylesheet" href="../Styles/style.css">
    </head>
    <body>
        <div class="top-links">
            <div class="google-image-search">
                <a href="image-search.html">Images</a>
            </div>
        </div>

        <div class = "flex-container">
            <div class = "logo">
                <img src="../images/google.png">
            </div>
        </div>

        <form action="https://www.google.com/search">

            <div class="main-div">

                <div class = "search-bar">
                    <img src="../images/search.svg">
                    <input type="text" name="q">
                </div>

                <div class = "filler">
                    <!--basically gap filler-->
                </div>

                <div class = "the-buttons">
                     <div class = "submit-button">
                        <input type="submit" value="Google Search">
                    </div>

                    <div>
                        <input type="submit" value="I'm Feeling Lucky!">
                    </div>
                </div>
            </div>

        </form>
    </body>
</html>


